appdirs==1.4.4
Django==2.2.14
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-mathfilters==1.0.0
django-widget-tweaks==1.4.8
Flask==2.3.3
oauthlib==3.0.1
gunicorn
